<p id="notice"><%= notice %></p>

<h4>Leagues</h4>

<table>
  <thead>
    <tr>
      <th class="league">League name</th>
      <th class="league">Prize money</th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td class="league"><%= league.league_name %></td>
        <td class="league">$
          <% if league.prize_money != nil %>
            <%= league.prize_money %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
