<p id="notice"><%= notice %></p>

<h4>Leagues</h4>

<table>
  <thead>
    <tr>
      <th class="league">League name</th>
      <th class="league">Prize money</th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td class="league"><a href='/leagues/<%=league.id%>'><%= league.league_name %></a></td>
        <td class="league">$<%= league.prize_money %></td>
      </tr>
    <% end %>
  </tbody>
</table>
