<p id="notice"><%= notice %></p>

<p>
  <strong>League name:</strong>
  <%= @league.league_name %>
</p>

<p>
  <strong>Prize money:</strong>
  <%= @league.prize_money %>
</p>

<%= link_to 'Back', leagues_path %>
