<p id="notice"><%= notice %></p>

<h2><%= @league.league_name %></h2>

<img src="/images/league_<%= @league.id %>.jpg" class="img-fluid" />

<p>
  <strong>Prize money:</strong>
  <%= @league.prize_money %>
</p>
