<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="one_third first">
        <div class="panorama"><img class="imgholder" src="/assets/esports.jpg" alt=""></div>
        <p>&quot;Our Mission&quot;</p>
        <blockquote>
          <p><span>&ldquo;</span> To support eSports in USA and provide a closer look at each and every game happening with all updates.</p>
        </blockquote>
        <br>
        <p>In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna.</p>
      </section>
      <!-- ####################################################################################################### -->
      <section id="skillset" class="one_third">
        <h2>eSports</h2>
        <p>eSports is a primary competitive gaming organization at UNM. Created by UNM students a group of enthusiasts and creative people as a graduate project for Web Architecture. Moving forward we hope to assert ourselves as a hub of Esports across the United States.</p>
        <p>For members our application provides a community for discussion and interaction where you can send messages to any player of your liking.</p>
        <p>Also look to our results tab for updated results of all the matches and schedules tab for upcoming matches. </p>
        <h2>Features</h2>
        <ul>
          <li>Can get daily updates about all the latest matches happening</li>
          <li>Can follow your favourite team by signing up.</li>
          <li>Will be able to message any player or coach.</li>
          <li>Can get live scores about the current matches.</li>
          <li>Ut pretium odio eu nisi.</li>
          <li>Nam condimentum mi id magna.</li>
          <li>Pellentesque consectetuer, felis vel rhoncus.</li>
          <li>Sed sollicitudin bibendum dui.</li>
          <li>Nullam tempus erat id tortor.</li>
        </ul>
      </section>
      <!-- ####################################################################################################### -->
      <section id="team" class="one_third">
        <h2>People Behind</h2>
        <ul class="clear">
          <li>
            <figure><img src="/assets/bhanu.jpg" width="130" height="130" alt="">
              <figcaption>
                <p class="team_name">Bhanu</p>
                <p class="team_title">Web Developer</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/assets/Nate.png" width="130" height="130" alt="">
              <figcaption>
                <p class="team_name">Nate</p>
                <p class="team_title">Web Developer</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/assets/deepak.jpeg" width="130" height="130" alt="">
              <figcaption>
                <p class="team_name">Deepak</p>
                <p class="team_title">Web Developer</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/assets/dileep.jpg" width="130" height="130" alt="">
              <figcaption>
                <p class="team_name">Dileep</p>
                <p class="team_title">Web Developer</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/assets/Sunil.jpg" width="130" height="130" alt="">
              <figcaption>
                <p class="team_name">Sunil</p>
                <p class="team_title">Software Engineer</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/assets/matthew.jpg" width="130" height="130" alt="">
              <figcaption>
                <p class="team_name">Matthew</p>
                <p class="team_title">Web and Database Developer</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/assets/Nguyen.jpg" width="130" height="130" alt="">
              <figcaption>
                <p class="team_name">Matthew</p>
                <p class="team_title">Software Engineer</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/assets/luan.jpg" width="130" height="130" alt="">
              <figcaption>
                <p class="team_name">Luan</p>
                <p class="team_title">Drone Pilot</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
