<p id="notice"><%= notice %></p>

<h1>Search results</h1>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <h2>Leagues Found</h2>
    <div class="list-group">
    <% @searches.each do |search| %>
      <% if search.has_attribute?("league_name") %>
        <%= link_to search.league_name, search , class: "list-group-item" %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <h2>Teams Found</h2>
    <div class="list-group">
    <% @searches.each do |search| %>
      <% if search.has_attribute?("team_name") %>
        <%= link_to search.team_name, search, class: "list-group-item" %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <h2>Players Found</h2>
    <div class="list-group">
    <% @searches.each do |search| %>
      <% if search.has_attribute?("ign") %>
        <%= link_to search.ign, search, class: "list-group-item" %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
