/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//From Scaffolds

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  //margin: 33px;
}
//
// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
//   margin: 33px;
//   white-space: nowrap;
// }
//
a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
//
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
//
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
//
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }
//
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

//League, Team, Match, Player

th {
  padding: 5px;
}

td {
  padding: 5px;
}

//Teams
p.no_matches {
  font-weight: bold;
}

//Players
li.players {
  list-style-type: none;
}

// League Logo images
img.league_logo {
  max-width: 100%;
  max-height: 100%;
  height: inherit;
}

//Header
li.signed_in {
   color: lightgray;
 }

#general {
    display:inline-block; float:left; margin:0 0 0 20px; list-style:none; width:470px;
  }
#reach{
  margin:0 0 0 30px;
}

 #about-us{display:block; width:100%; line-height:1.6em;}

#about-us #about-intro{margin-bottom:0;}
#about-us #about-intro .panorama{margin-bottom:20px;}
#about-us #about-intro .panorama .imgholder{}
#about-us #about-intro blockquote{position:relative; margin:0; padding:0;}
#about-us #about-intro blockquote p{margin:0; padding:0 0 0 60px; font-size:16px; font-style:italic; line-height:1.6em;}
#about-us #about-intro blockquote p span{position:absolute; top:0; left:0; font-size:120px; line-height:.8em;}
#about-us #about-intro h2{}
#about-us #about-intro p{}
#about-us #about-intro p:first-child{}

#about-us #skillset{margin-bottom:0;}
#about-us #skillset li{margin-top:8px;}
#about-us #skillset li:first-child{margin-top:0;}

#about-us #team{margin-bottom:0;}
#about-us #team ul{margin:0; padding:0; list-style:none;}
#about-us #team ul li{display:inline-block; float:left; width:140px; margin:30px 0 0 20px; padding:0; text-align:center;}
#about-us #team ul li:first-child,
#about-us #team ul > li:first-child + li + li,
#about-us #team ul > li:first-child + li + li + li + li{margin-left:0;}
#about-us #team ul > li:first-child + li + li + li + li + li + li{margin-left:0;}
#about-us #team ul > li:first-child, #about-us #team ul > li:first-child + li{margin-top:0;}
#about-us #team ul li figure{}
#about-us #team ul li figure img{padding:4px; border:1px solid #CCCCCC;}
#about-us #team ul li figcaption{}
#about-us #team ul li figcaption p{margin:5px 0 0 0; padding:0;}
#about-us #team ul li figcaption p:first-child{}
#about-us #team ul li figure figcaption .team_name{}
#about-us #team ul li figure figcaption .team_title{margin:0; font-size:11px; line-height:normal;}

.one_half,
.one_third, .two_third,
.one_quarter, .two_quarter, .three_quarter,
.one_fifth, .two_fifth, .three_fifth, .four_fifth{display:inline-block; float:left; margin:0 0 0 20px; list-style:none;}

.one_third, .two_third{margin:0 0 0 30px;}

.first,
.one_half:first-child,
.one_third:first-child, .two_third:first-child,
.one_quarter:first-child, .two_quarter:first-child, .three_quarter:first-child,
.one_fifth:first-child, .two_fifth:first-child, .three_fifth:first-child, .four_fifth:first-child{margin-left:0;}

.two_half, .three_third, .four_quarter, .five_fifth{display:block; width:100%; clear:both;}

div.match {
    display:inline-block;
    width:50px; /* Adjust this */
}
/*----------------------------------------------Half Grid-------------------------------------*/

.one_half{width:470px;}

/*----------------------------------------------Third Grid-------------------------------------*/

.one_third{width:300px;}
.two_third{width:630px;}

/*----------------------------------------------Quarter Grid-------------------------------------*/

.one_quarter{width:225px;}
.two_quarter{width:470px;}
.three_quarter{width:715px;}

/*----------------------------------------------Fifth Grid-------------------------------------*/

.one_fifth{width:176px;}
.two_fifth{width:372px;}
.three_fifth{width:568px;}
.four_fifth{width:764px;}
