<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<footer class="footer-distributed">
	<div class="footer-right">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-twitch"></i></a>
		<a href="#"><i class="fa fa-youtube"></i></a>
	</div>
	<div class="footer-left">
		<p class="footer-links">
			<a href="/">eSports</a>
			<a href="/leagues">Leagues</a>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
		</p>
    <div>
			<h6>eSports &copy; 2016</h6>
			<h6>Main Event - G Play Civic Center</h6>
			<h6>Dec 25 - 30, 2016</h6>
		</div>
		<div align="center">
			<img src="/assets/intel.png" style="width: 10%; height: 10%"/>
			<img src="/assets/EA_Sports_logo.png" style="width: 10%; height: 10%"/>
			<img src="/assets/Unreal_engine_logo.png" style="width: 10%; height: 10%"/>
		</div>
	</div>
</footer>
