<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
  <footer class="footer-distributed">
  	<div class="footer-right">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-twitch"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
  	</div>
		<div class="footer-left">
  		<p class="footer-links">
  			<a href="/">eSports</a>
				<s class="padding-right"><a href="/leagues">Leagues</a></s>
				<s class="padding-right"><a href="/about">About</a></s>
				<s class="padding-right"><a href="/contact">Contact</a></s>
  		</p>
      <br>
      	<div>
  			<h6>eSports &copy; 2016</h6>
			<h6>Main Event - G Play Civic Center</h6>
			<h6>Dec 25 - 30, 2016</h6>
		</div>

		<div style="float:right;">
			<%= form_tag(searches_path, :method => "get", id: "search-form") do %>
    <span class="field"><%= text_field_tag :search, params[:search], placeholder: "Search..." %></span>
    <%= submit_tag "Search", :name => nil %>
<% end %>
		</div>

  	</div>
  </footer>
</body>
